<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats and Cars</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
    <h2>Welcome to Cats.HTML</h2>


    <div class="container">
        <div class="img">
            <h3>Car Image 1</h3>
            <img src="images/cat1.jpg" alt="cat-1">
        </div>

    </div>


    <input type="button" onclick="location.href='/cars';" value="See Car pics" />
    <input type="button" onclick="location.href='/forms/new';" value="Forms Page" />
    



</body>
</html>